
<form action="/new_doctor" method="post">
  <label for="doctor_name">Doctor's Name</label>
  <input name="doctor_name" type="text">
  <label for="specialty">Doctor's Specialty</label>
  <input name="specialty" type="text">
  <button type="submit">Add doctor</button>
</form>


<p><a href="/" >Back</a></p>
