<h1>To Do</h1>

<p>Create a new patient:</p>

<form action="/patients" method="post">
  <label for="patient_name">patient patient_name</label>
  <input id="patient_name" doctor_name="patient_name" type="text">
  <button type="submit">Add patient</button>
</form>
<hr>
<p>Here are all your patients:</p>
<ul>
  <% @patients.each() do |patient| %>
  <li><%= patient.patient_name() %></li>
  <% end %>
</ul>
