<h1>Doctor's Office</h1>
<hr>
<p>Here are all your doctors:</p>
<ul>
  <% @doctors.each() do |doctor| %>
  <li><%= doctor.doctor_name() %></li>
  <% end %>
</ul>

<p><a href="/new_doctor">Add a new doctor</a></p>
