<h1>Doctor's Office</h1>
<hr>
<p>Here are all your doctors:</p>
<ul style="list-style: none;">
  <% @doctors.each() do |doctor| %>
  <li><a href="/patient_list/<%= doctor.id() %>"><%= doctor.doctor_name() %></a></li>
  <% end %>
</ul>

<p><a href="/new_doctor">Add a new doctor</a></p>
